{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Connexion</h1>

        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <label for="_username">Email :</label><br/>
                <input class="form-control" placeholder="Adresse email" required name="_username" type="text">
            </div>
            <div class="form-group">
                <label for="_password">Mot de passe :</label><br/>
                <input class="form-control" placeholder="Mot de passe" required name="_password" type="password">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}

