{% extends 'base.html.twig' %}

{% block body %} 
    <div id="home_block" class="container-fluid d-flex flex-column w-100 h-100 text-center">
        <div class="row flex-column flex-grow-1 justify-content-center align-items-center">
            <div id="home_title">Alacart'</div>
            <div id="home_subtitle">Votre distributeur parisien</div> 
        </div>
        <div id="home_text" class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-12 col-lg-5 mx-1 my-2">
                <img src="{{ asset('images/logos/glass.png') }}" alt="logo_glass" height="70rem"><br/>
                Une sélection à prix grossiste
            </div>
            <div class="col-12 col-lg-5 mx-1 my-2">
                <img src="{{ asset('images/logos/delivery.png') }}" alt="logo_delivery" height="70rem"><br/>
                 Livraison à Paris intra-muros dès 60 bouteilles
            </div>         
        </div>
        <div class="row flex-grow-1 justify-content-center align-items-center police_pr">
            <a href="{{ path('main_order_info') }}" class="btn btn-info btn-lg mx-4">Plus d'informations</a>
        </div>
        <div class="row justify-content-center police_pr">
            <div id="home_caution">L'abus d'alcool est dangeureux pour la santé, à consommer avec modération.</br>
                 Produits et Millésimes sous réserve des ventes effectuées.</font></div>
			</div>
        </div>
    </div>
{% endblock %}