{% extends 'base.html.twig' %}

{% block title %}Informations Commande{% endblock %}

{% block body %}
    
    <div id="order_info_block" class="container-fluid h-100 d-flex text-center">
        <div class="row justify-content-center align-items-center mx-2 my-lg-4">
            <div class="col-12 col-lg-5 mx-2 d-flex align-items-center order_info_box">
                <div class="w-25 mx-auto"><img src="{{ asset('images/logos/choose.png') }}" alt="logo_choose" class="order_logo"><br/></div>
                <div class="w-75 mx-1">1. Faites votre choix et envoyez nous votre panier.</div>
            </div>
            <div class="col-12 col-lg-5 mx-2 d-flex align-items-center order_info_box">
                <div class="w-25 mx-auto"><img src="{{ asset('images/logos/call.png') }}" alt="logo_call" class="order_logo"><br/></div>
                <div class="w-75 mx-1">2. Nous vous contactons pour finaliser la commande et organiser la livraison.</div>
            </div>
            <div class="col-12 col-lg-5 mx-2 d-flex align-items-center order_info_box">
                <div class="w-25 mx-auto"><img src="{{ asset('images/logos/pay.png') }}" alt="logo_pay" class="order_logo"><br/></div>
                <div class="w-75 mx-1">3. Vous recevez votre facture par mail puis payez par virement.</div>
            </div>
            <div class="col-12 col-lg-5 mx-2 d-flex align-items-center order_info_box">
                <div class="w-25 mx-auto"><img src="{{ asset('images/logos/delivery.png') }}" alt="logo_delivery" class="order_logo"><br/></div>
                <div class="w-75 mx-1">4. Recevez vos produits chez vous, livrés rapidement par nos soins.</div>
            </div>
        </div>
    </div>
        
{% endblock %}
