{% extends 'base.html.twig' %}

{% block body%}
    <article>
            <h2>Vin 1</h2>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
            <div class="content">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, animi. In ab enim asperiores veritatis!</p>
                <p>Id est, expedita molestiae consequuntur quis enim iure? Pariatur iure architecto incidunt est, non voluptas.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusamus error porro facilis voluptas dolores repudiandae, in asperiores explicabo? Est possimus dolorum debitis neque minus voluptatum impedit corrupti quas odio saepe magnam similique veniam dolore excepturi perferendis, sit et cumque.</p>
                <p>Delectus iure consequatur recusandae deserunt! Facere deserunt molestias architecto laboriosam doloribus, ea perferendis nulla eveniet aperiam fuga quibusdam quasi consequatur. Vitae magnam consequuntur voluptatem facilis quasi eius necessitatibus illo temporibus minima inventore, recusandae magni in corrupti! Ex molestias rerum aperiam.</p>
            </div>
    </article>
{% endblock %}