:root {
	--police-pr: 'chalkserif';
	--police-sec: 'quickjump';
	--police-brand: 'quentin';
	--font-size-gen : 20px;
	--font-size-nav: 1.0rem;
	--font-size-brand: 2.0rem;
	--font-size-medium: 2.3rem;	
	--font-size-home-title: 7rem;
	--font-size-home-subtitle: 3rem;
	--font-size-home-text: 1.7rem;
}

@font-face {
	font-family: 'chalkserif';
	src: url('../font/ChalkSerif.otf') format('truetype');	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'quickjump';
	src: url('../font/Quick Jump.ttf') format('truetype');	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'quentin';
	src: url('../font/Quentin.ttf') format('truetype');	
	font-weight: normal;
	font-style: normal;
}

html
{
	height: 100%;
	width: 100%;
	font-size: var(--font-size-gen);
	font-family: var(--police-pr);	
}

body 
{ 
	height: 100%;
	width: 100%;
}

nav
{
	display: flex;
	align-items: center;
	font-size: var(--font-size-nav);	
	font-family: var(--police-pr);
}

.navbar-brand
{
	font-size: var(--font-size-brand);	
	font-family: var(--police-brand);
}

.navbar-toggler-icon
{
	font-size: 1.2rem;
}

#central_block
{	
	height: 100%;
	width: 100%;
	min-height: 100%;
	padding-top: 90px;
	display: flex;
    background-position: center;
    background-size: cover;
	overflow: auto;
}

#home_block
{
	height: 100%;
	width: 100%;
	display: flex;
	color: #FFFFFF;
	font-family: var(--police-brand);
}
#home_title {
	font-size: var(	--font-size-home-title);
	font-family: var(--police-brand);
}
#home_subtitle	
{	
	font-size: var(	--font-size-home-subtitle);
	font-family: var(--police-brand);
}
#home_text	
{	
	font-size: var(	--font-size-home-text);
	font-family: var(--police-sec);
	background-color: rgba(0, 0, 0, 0.85);
}

#products_block
{
	font-family: var(--police-pr);
	font-size: var(	--font-size-medium);
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.product_row
{
	min-height : 200px;
	margin-top: 5px;
	margin-bottom: 5px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.85);
}

#one_product_block
{
	font-family: var(--police-pr);
}

footer
{
	font-family: var(--police-pr);
	color: white;
}

.logos_contact
{
	max-height: 80%;
	max-width: 80%;
}

a, a:hover
{
	color: white;
}



.police_pr
{
	font-family: var(--police-pr);
}

.nav-item {
	position: relative;
	color: #000000;
	text-decoration: none;
}

.nav-item:hover {
	color: #000000;
}

.nav-item::before {
	content: "";
  	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

